# Ignore large data, model, and prediction files
# Directories like /data_xzr, /coefs, and /Predictions are now managed by
# their own .gitignore files to keep the directory structure.


# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment-specific files and logs


# Ignore IDE-specific folders
.vscode/
.idea/ 